html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: #202020;
  color: #ffffff;
}
.container {
  display: flex;
}
.btnentrar {
  margin-top: 10px;
  padding: 10px 15px;
  border: 4px solid #1fb81f;
  color: #ffffff;
  background-color: #1fb81f;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.1s;
}
.btnentrar:hover {
  background-color: #ffffff;
  color: #1fb81f;
}
.btnentrar:active {
  background-color: #e4e4e4;
}

/* HEADER */
.header {
  color: #0099ff;
  background-color: #0a0a0a;
  border-bottom: 3px solid #0099ff;
  padding: 0px 10px;
}
.header .container {
  justify-content: space-around;
}
.header .container .titulo {
  display: flex;
  width: 40%;
  justify-content: center;
  align-items: center;
}
.header .container .titulo h1 {
  font-style: italic;
  margin-right: 10px;
}
.header .container .titulo span {
  font-size: 25px;
  color: rgb(255, 100, 0);
  letter-spacing: 9px;
}
.header .container .titulo img {
  height: 85px;
  width: 85px;
  margin-right: 10px;
}
.container ul {
  color: rgb(255, 100, 0);
  display: flex;
  width: 50%;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  font-size: larger;
  letter-spacing: 0.5px;
}
ul a {
  text-decoration: none;
  color: rgb(255, 100, 0);
}
ul a:hover {
  text-decoration: underline;
}
ul a:active {
  color: rgb(200, 50, 0);
  border-color: rgb(200, 50, 0);
}
.login {
  border: 2px solid rgb(255, 100, 0);
  border-radius: 12px 0px 12px 0px;
  padding: 5px 15px;
  transition: 0.2s;
}

/* FIM DO HEADER */
/* SLIDER */

#main .splide__slide img {
  width: 100%;
  height: 100%;
}
.text-block-1,
.text-block-2,
.text-block-3,
.text-block-4,
.text-block-5 {
  position: absolute;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  border: 2px solid rgba(255, 100, 0, 0.9);
  text-align: start;
}
.text-block-1 {
  bottom: 13%;
  right: 5%;
  font-size: 1.5em;
}

.text-block-1 a {
  text-decoration: none;
  color: #ffffff;
}
.text-block-1 a:hover {
  color: rgba(255, 100, 0);
  transition: 0.25s ease;
  text-decoration: none;
}
.text-block-2 {
  top: 13%;
  left: 5%;
  font-size: 1.2em;
}
.text-block-3 {
  bottom: 15%;
  left: 10%;
  font-size: 1.2em;
}
.text-block-4 {
  top: 20%;
  right: 10%;
  font-size: 1.2em;
}
.text-block-5 {
  bottom: 10%;
  right: 10%;
  padding: 0px 15px;
  font-size: 1.2em;
  text-align: end;
}
.text-block-5 q {
  font-style: italic;
}
.text-block-5 span {
  font-size: 0.7em;
}

/* FIM DO SLIDER */
/* SOBRE NÓS */

.sobrenos {
  width: 100%;
  height: 450px;
  border-top: 3px solid #0099ff;
  border-bottom: 3px solid #0099ff;
}

.sobrenos .container {
  justify-content: space-around;
  align-items: center;
  height: 450px;
}

.sn_imagem {
  display: flex;
  height: 80%;
  width: 15%;
  flex-direction: column;
  color: #ffffff;
  padding: 10px;
  margin-top: 10px;
  border: 10px double rgb(255, 100, 0);
}
.sn_imagem:hover{
  transition: 0.1s ease-in-out;
  box-shadow: 0px 0px 10px #fff;
}
.sn_imagem img {
  height: 80%;
}
.sn_imagem h3 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.sn_texto {
  width: 30%;
  border: 3px solid #0099ff;
  outline: 3px solid #202020;
  box-shadow: inset 0px 0px 0px 3px #202020;
  padding: 0px 20px;
  text-align: start;
}
.sn_texto:hover {
  transition: 0.25s ease-in-out;
  background-color: #202020;
  outline: 3px solid rgb(15, 15, 15);
  box-shadow: inset 0px 0px 0px 3px rgb(15, 15, 15);
}

.sn_texto h2 {
  font-size: 2em;
}
.sn_texto p {
  font-size: 1.2em;
}
.sn_botao {
  width: 25%;
}
.btn_sn {
  color: rgb(255, 255, 255);
  background-color: #202020;
  padding: 10px;
  font-size: 2em;
  border: 3px solid #0099ff;
  border-radius: 15px 0px 15px 0px;
  outline: 3px solid rgb(15, 15, 15);
  box-shadow: inset 0px 0px 0px 3px rgb(15, 15, 15);
  cursor: pointer;
}
.btn_sn:hover {
  transition: 0.25s;
  background-color: rgb(15, 15, 15);
  outline: 3px solid rgb(15, 15, 15);
}
.btn_sn:active {
  background-color: rgb(5, 5, 5);
  box-shadow: inset 0px 0px 0px 3px rgb(5, 5, 5);
  outline-color: rgb(5, 5, 5);
}

/* FIM DO SOBRE NÓS */
/* TECNOLOGIAS */

.tech {
  width: 100%;
  height: 450px;
  border-top: 2px solid #000;
  box-shadow: 0px 3px 0px 0px inset rgb(255, 100, 0);
}

.tech .container {
  justify-content: space-around;
  align-items: center;
  height: 450px;
}

.tech_card {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.tech_text {
  border: 3px solid rgb(255, 100, 0);
  padding: 0px 20px;
  outline: 3px solid #202020;
  box-shadow: inset 0px 0px 0px 3px #202020;
}
.tech_text:hover {
  transition: 0.25s ease-in-out;
  background-color: #202020;
  outline: 3px solid rgb(15, 15, 15);
  box-shadow: inset 0px 0px 0px 3px rgb(15, 15, 15);
}

.tech_card h2 {
  font-size: 2em;
}

.tech_card p {
  font-size: 1.2em;
}

.tech_botao {
  align-self: center;
  margin-top: 50px;
}

.btn_tech {
  background-color: #202020;
  color: #ffffff;
  border: 3px solid rgb(255, 100, 0);
  outline: 3px solid rgb(15, 15, 15);
  box-shadow: inset 0px 0px 0px 3px rgb(15, 15, 15);
  padding: 10px;
  font-size: 2em;
  border-radius: 0px 15px 15px 15px;
  cursor: pointer;
}
.btn_tech:hover {
  transition: 0.25s;
  background-color: rgb(15, 15, 15);
}
.btn_tech:active {
  background-color: rgb(5, 5, 5);
  outline-color: rgb(5, 5, 5);
  box-shadow: inset 0px 0px 0px 3px rgb(5, 5, 5);
}
.tech__div_img {
  display: flex;
  flex-direction: column;
  justify-content: end;
  width: 30%;
  padding: 15px;
}
.tech__div_img:hover{
  transition: 0.25s ease-in-out;
}
.tech_img{
  width: 100%;
  height: 100%;
  padding: 10px 20px;
  border: 10px solid #fff;
}
.tech__div_img h3{
  width: 100%;
  background-color: #fff;
  color: #202020;
  margin: 0;
  padding: 10px 20px;
  border: 10px solid #fff;
  font-size: 1.8em;
}
#invencao .splide__slide{
  font-size: 0.6em;
}