html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: #202020;
  color: #ffffff;
}
.container {
  display: flex;
}
.sobre_invencoes .container {
  flex-direction: column;
  align-items: center;
}
.bemvindo {
  color: #0099ff;
  border: 10px double rgb(255, 100, 0);
  padding: 20px 60px;
  font-size: 3.5em;
  text-align: center;
  font-style: italic;
  text-shadow: 2px 2px rgb(15, 15, 15);
  box-shadow: 5px 10px 8px rgb(15, 15, 15);
  outline: 3px solid #202020;
  transition: 0.25s;
}
.bemvindo:hover{
  outline-color: rgb(15, 15, 15);
}
.expl_bv {
  display: flex;
  justify-content: space-evenly;
  width: 95%;
}
.expl_bv video {
  width: 30%;
  border: 10px solid #fff;
}
.txtbv {
  width: 60%;
  font-size: 1.2em;
  border: 3px solid #0099ff;
  padding: 10px 15px;
  outline: 3px solid #202020;
  box-shadow: 0px 0px 0px 3px inset #202020;
  transition: .25s;
}
.txtbv::first-letter {
  font-size: 4em;
  color: rgb(255, 100, 0);
  margin: 0;
  padding: 0;
}
.txtbv:hover {
  outline: 3px solid rgb(15, 15, 15);
  box-shadow: 0px 0px 0px 3px inset rgb(15, 15, 15);
  transition: .25s;
}
